.session
{
    [class="1"]{

        display: flex;
        flex-direction: row;
        border: 1px solid black;
        align-items: center;
        justify-content: center;
        background-color: burlywood;
        
        article
        {
            text-align: center;
        }
    }

    [class="2"]{

        display: flex;
        flex-direction: row;
        border: 1px solid black;
        align-items: center;
        justify-content: center;
        background-color: burlywood;
        
        article
        {
            text-align: center;
        }
    }

    [class="3"]{

        display: flex;
        flex-direction: row;
        border: 1px solid black;
        align-items: center;
        justify-content: center;
        background-color: burlywood;
        
        article
        {
            text-align: center;
        }
    }

    [class="4"]{

        display: flex;
        flex-direction: row;
        border: 1px solid black;
        align-items: center;
        justify-content: center;
        background-color: burlywood;
        
        article
        {
            text-align: center;
        }
    }

    [class="5"]{

        display: flex;
        flex-direction: row;
        border: 1px solid black;
        align-items: center;
        justify-content: center;
        background-color: burlywood;
        
        article
        {
            text-align: center;
        }
    }

    [class="6"]{

        display: flex;
        flex-direction: row;
        border: 1px solid black;
        align-items: center;
        justify-content: center;
        background-color: burlywood;
        
        article
        {
            text-align: center;
        }
    }
    
}

