.session
{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    article
    {
        border: 1px solid black;
        margin: 3%;
        width: 15rem;
        text-align: center;
    }
}